  body{ max-width: 700px; }
  #sample input{ display:block;  width: 100%; font-size: 18px; padding: 10px 10px;  }
  #sample [type=file]{ padding: 20px 10px;  }
  #sample [type=number]{ max-width: 200px;  }
  #sample [type=submit]{  
    display: block;
    box-sizing: border-box;
    font-size: 18px;
    background-color: white;
    color: red;
    border: solid 2px red;
    width: 100%;
    margin: 20px 0px;
  }

  fieldset{
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
  }
